body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 1em 0;
	margin: 1em 0;
	border-top: 1px solid #ddd;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/** 
 * User / View
 */
 
.view label 
{
	font-weight: bold;
	font-size: .9em;
	display: inline;
	padding-right: .75em;
}

.view .last-login
{
	text-align: right;
	font-size: .8em;
	color: #ddd;
}

/**
 * Issue / Update
 */
 
.issue.update .project-name 
{
	color: #bbb;
	font-weight:normal;
}

/**
 * Login info
 */

#login-info {
	position: relative;
	margin-bottom: -2.5em;
}


/**
 * Purdue footer 
 */

#footer-container 
{
  clear: both;
  position: relative;
  bottom: 0px;
  background: #000 url('../images/footer_bg.jpg') repeat left top;
	height: 10em;
  padding-bottom: 1.5em;
	margin-top: 4em;
  color: #ccc;
  font-size: 10px;
  line-height: 14px;
}

#footer-container a,
#footer-container a:visited 
{
  color: #eee;
}

#footer-purdue-signature-container 
{
  position: relative;
  top: 30px;
  left: 0px;
}

#footer-purdue-signature-tab 
{
  position: absolute;
  top: 0px;
  left: 26px;
  width: 125px;
}

#footer-purdue-signature-tab .gold-bar 
{
  margin: 0px 4px;
  width: 117px;
  height: 7px;
	background-color: #A3792C;
	overflow: hidden;
}

#left-foot 
{
  margin-top: 2.5em;
}

/**
 * Adjustments to bootstrap.css
 */
 
.row-fluid :first-child [class*="span"] 
{
	margin-left: 0;
}